<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="id.bukusaku.bukusaku">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rule"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/ThemeHome">
        </activity>
        <activity
            android:name=".ui.detail.article.DetailArticleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/MyTheme.Detail">
        </activity>
        <activity
            android:name=".ui.detail.category.ProductsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/ThemeHome">
        </activity>
        <activity
            android:name=".ui.detail.product.ProductDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/ThemeHome">
        </activity>
        <activity
            android:name=".ui.enquiry.EnquiryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/MyTheme.Enquiry">
        </activity>
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Splash">
        </activity>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/MyTheme.Splash"
            android:name=".ui.detail.product.ProductDetailImageActivity">
        </activity>
    </application>

</manifest>